.change-selected-value-button {
  border: none;
  background-color: transparent;
  font-family: Inter;
  padding: 0;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
@media screen and (max-width: 955px) {
  .change-selected-value-button {
    border: 1px solid #0284c7;
    color: #0284c7;
    background-color: transparent;
    height: 24px;
    border-radius: 25px;
    display: flex;
    font-size: 13px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
}
.bookmenu-li {
  margin-top: 16px;
}
@media screen and (max-width: 955px) {
  .bookmenu-li {
    display: block;
    margin-right: 20px;
    margin-top: 20px;
  }
}
.extra-active-class {
  color: #0284c7;
}
@media screen and (max-width: 955px) {
  .extra-active-class {
    border: none;
    background-color: #0284c7;
    color: white;
  }
}
